@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.custom {
    width: 50px !important;
}

body {
    padding-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

h5 {
  margin-top:2em;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

th, td {
  padding: 10px;
}
